{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{{ view.action|default:"Add" }} Cheese{% endblock title %}

{% block content %}

  {#  pour que le form qui est partagé entre update et creatview puisse handle les 2#}
  {% with action=view.action|default:"Add" %}

    <h1>{{ action }} Cheese</h1>
    {# Using action="." as below is a commonly-used trick to reuse a form template for both create and update views.#}
    <form method="post" action=".">
      {% csrf_token %}
      {{ form|crispy }}
       <button type="submit" class="btn btn-primary">{{ action }}</button>
    </form>

  {% endwith %}

{% endblock %}
